body {
  font-family: sans-serif;
  background: #0000;
  
}

#navigate {
  background-color: #0000;
  /* color: #ffff; */
}

/* .categories{
  display:flex;
} */
.intro{
  font-weight: 700;
  font-size: x-large; 
}