<div class="navbar navbar-inverse container-fluid mt-5 mx-5" role="navigation" id="navigate" style="background-color: #0000; height: 10rem;">
  <div class="container-fluid m-3">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
      <a class="navbar-brand" href="/" style="color:rgb(0, 0, 0); font: xx-large bolder; "> Public Pitches </a>
    </div>
    <div class="navbar-collapse collapse">
      <!-- <ul class="nav navbar-nav">
        <a class="navbar-brand text-center" href="/">Pitches</a>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li>{{ current_user.username }}</li>
        <li><a href="{{url_for('auth.logout')}}">Log out </a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}">Sign in </a></li>
        {% endif %}
      </ul>
    </div>

  </div>
</div>
